<div class="content">
    <div v-bind:class="{completedTask: taskDone}">
        <h2>{{title}}     <md-checkbox v-model="taskDone"></md-checkbox>
        </h2>
        <span class="description">{{description}}</span>
    </div>


    <div>
        <div class="icons">
            <md-button class="md-icon-button" @click="editTask()">
                <md-icon class="icon editIcon">edit</md-icon>
            </md-button>
            <md-button class="md-icon-button" @click="deleteTask()">
                <md-icon style="margin-left: 10px" class="icon deleteIcon">delete</md-icon>
            </md-button>
        </div>
    </div>

</div>
