<div class="view task">
    <h2>{{pageTitle}}</h2>
    <div class="form-fields">
        <form>
            <md-field>
                <label>Título</label>
                <md-input v-model="title"></md-input>
            </md-field>
            <md-field>
                <label>Descripción</label>
                <md-input v-model="description"></md-input>
            </md-field>
        </form>
    </div>
    <md-button class="my-button" @click="anadirTarea(this)">{{buttonText}}</md-button>
</div>
