<div class="view home">
    <md-content class="header">
            <span class="md-display-1">Listado de tareas</span>
    </md-content>


    <md-content class="body">
        <md-list v-for="task in tasks">
          <ListItem :title="task.title" :description="task.description"></ListItem>
        </md-list>
    </md-content>

    <md-content  class="footer">
        <div class="md-layout">
            <div class="md-layout-item"></div>
            <div class="md-layout-item"></div>
            <div class="md-layout-item">
                <md-button class="md-primary md-raised" @click="anadirTarea(this)">Añadir Tarea</md-button>
            </div>
        </div>
    </md-content >
</div>
