<div class="view home">
    <md-content class="header">
            <span class="md-display-1">Tarea</span>
    </md-content>


    <md-content class="body">
        <md-list class="md-triple-line">
            <md-list-item class="md-layout">
                <md-icon class="md-layout-item fa fa-shield"></md-icon>
                <span class="md-layout-item">Limpiar los platos</span>
                <span class="md-layout-item md-list-item-text">Pendiente</span>
            </md-list-item>

            <md-list-item>
                <md-icon class="md-layout-item fa fa-shield"></md-icon>
                <span class="md-layout-item">Jugar al Fornite</span>
                <span class="md-layout-item md-list-item-text">Terminada</span>
            </md-list-item>

            <md-list-item>
                <md-icon class="md-layout-item fa fa-shield"></md-icon>
                <span class="md-layout-item">Planchar la ropa</span>
                <span class="md-layout-item md-list-item-text">Pendiente</span>
            </md-list-item>
        </md-list>
    </md-content>

    <md-content  class="footer">
        <div class="md-layout">
            <div class="md-layout-item"></div>
            <div class="md-layout-item"></div>
            <div class="md-layout-item">
                <md-button class="md-primary md-raised" @click="anadirTarea(this)">Añadir Tarea</md-button>
            </div>
        </div>
    </md-content >
</div>